$mycolor: rgb(230, 173, 17);
.third-page-wrapper {
    height: auto;
    background: linear-gradient(-55deg, #5e0ff3, #008ecc);
    position: relative;
}
.wave1 {
    position: absolute;
    width: 100%;
    height: 9rem;
    bottom: 0;
    left: 0;
    background: url(./wave.png);
    background-size: 1200px 115px;
}
.wave1.water1 {
    animation: animate 25s linear infinite;
    opacity: 1;
    animation-delay: 2s;
    bottom: 0px;
    z-index: 100;
}

.wave1.water1:nth-child(2) {
    animation: animate2 15s linear infinite;
    opacity: 0.5;
    animation-delay: -10s;
    bottom: 10px;
    z-index: 99;
}
.wave1.water1:nth-child(3) {
    animation: animate3 10s linear infinite;
    opacity: 0.2;
    animation-delay: -15s;
    bottom: 20px;
    z-index: 98;
}
@keyframes animate {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 800px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -1000px;
    }
}
@keyframes animate3 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -500px;
    }
}

.third-page-container {
    height: auto;
    padding: 15rem 10rem 14rem 12rem;
}
.cont2 img {
    height: 40rem;
    width: 50rem;
}
.cont0 {
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont0 h1 {
    color: $mycolor !important;
    font-size: 4rem;
}
.row p {
    font-size: 1.7rem;
}
.cont1,
.cont3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.sub-cont1,
.sub-cont2,
.sub-cont3,
.sub-cont4 {
    h4 {
        color: $mycolor;
        font-size: 2.7rem;
    }
}

.wave2 {
    position: absolute;
    width: 100%;
    height: 10rem;
    top: 0;
    left: 0;
    background: url(./wave.png);
    transform: rotateX(180deg);
}
.wave2.water2 {
    animation: animate 25s linear infinite;
    opacity: 1;
    animation-delay: 2s;
    top: 0px;
    z-index: 100;
}

@media (max-width: 768px) {
    .sub-cont1,
    .sub-cont2,
    .sub-cont3,
    .sub-cont4 {
        word-break: break-all;
    }
    .cont0 .column{
        text-align: start;
        margin-bottom: 2rem;
    }


}

@media (max-width: 400px) {
    .third-page-container {
        padding: 15rem 3rem 14rem 3rem;
    }


}