
.container-fluid{
    height:auto
}
.h-100{
    font-size: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.sub-cont-left , .sub-cont-right{
    margin:5% 5% 5% 0%
}
.sub-cont-left p,.sub-cont-right p{
    font-size: 20px;
}