.second-page-wrapper {
    height: 60vh;
    display: flex;
}
.left-section {
    flex: 1;
}
.header {
    margin: 5% 15%;
}
.header h1 {
    text-align: center;
    margin-bottom: 10px;
}
.header p {
    font-size: 19px;
}
.subheader {
    display: flex;
    font-size: 19px;
}
.sub-header1 {
    margin: 0 5%;
}
.sub-header1 h3 {
    text-align: center;
    margin-bottom: 10px;
}
.sub-header2 h3 {
    text-align: center;
    margin-bottom: 10px;
}
.sub-header2 {
    margin: 0 5%;
}
.quote-wrapper {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-container {
    height: 100px;
    width: 60%;
    border-radius: 20px;
    background-color: rgb(212, 229, 243);
    display: flex;
    align-items: center;
}
.quote-container p {
    padding: 0% 8%;
}
.right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 60%;
}
