.second-page-wrapper {
    height: 100%;
    position: relative;
}
.img-cont {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.text-cont-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-cont {
    margin: 5% 10%;
}
.quote-text {
    margin-top: 3%;
    padding: 3% 7%;
    border-radius: 20px;
    background-color: rgb(235, 243, 245);
}

