.collapse{
    display: flex;
    justify-content: flex-end;
    font-size: 3rem;
    margin-right: 4rem;

}
.navbar-brand{
    font-size: 3rem !important;
    margin-left: 5rem;
    font-weight: bold;
    color:white !important
}
li {
    color:white !important;
    padding:2rem !important
}
.list2{
    color:rgb(230, 173, 17) !important
}