ul {
    overflow: hidden;
}
li {
    float: right;
    list-style: none;
    text-align: center;
    padding: 14px 16px;
    color: white;
    font-size: 20px;
}
.list4{
    color:rgb(230, 173, 17)
}
.list3, .list2{
    padding: 16px 16px;
}