* {
    transition: all 0.3s ease-in-out;
}
.logo h1 {
    float: left;
    color: white;
    font-size: 4rem;
    font-weight: bold;
}
.container {
    clear: both;
    overflow: auto;
    padding: 1.5rem;
}

li:nth-child(2) {
    color: rgb(230, 173, 17);
}
ul {
    float: right;
}

.logo img {
    float: left;
}

ul li {
    display: inline-block;
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
}

ul li:hover {
    color: orange;
}
