.fourth-page-container {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10rem;
}
.header {
    display: flex;
    justify-content: center;
    text-align: center;
}
.columnn h1 {
    font-size: 4rem;
}
.fourth-page-container p {
    font-size: 1.7rem;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body {
    text-align: center;
}
.card {
    margin: 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 3rem;
}
.circular-picture {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin: auto;
    align-items: center;
}
.card-body h5 {
    font-size: 2rem;
}

.card-body h5 {
    margin: 0;
    margin-top: 3rem;
    padding: 0;
}

@media (min-width: 769px) and(max-width:1400px) {
    .fourth-page-container {
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 8rem 1rem;
    }
    .card {
        margin: 1rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 1rem;
    }
}
@media (max-width: 400px) {
    .fourth-page-container {
        padding: 8rem 1rem;
    }
}
