* {
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    padding: 15px 0px;
    font-size: 40px;
}
.main-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: rgb(233, 184, 23);
    height: 60%;
}

section {
    position: relative;
    width: 100%;
    height: 65vh;
    background: linear-gradient(-55deg, #5e0ff3, #008ecc);
    background-size: 400% 300%;
}
